<main class="h-full flex justify-center">
<div class="max-w-7xl mx-auto pt-20 flex justify-center space-x-4">
    <div>
        <select name="rate_to_uah" class="text-5xl border-2 border-black mr-5" [(ngModel)]="first_currency" (change)="changingFirstValue()">
            <option *ngFor="let currency of currencies_to" value="{{currency}}">{{currency}}</option>
        </select>
        <input type="text" class="rounded-md border-black border-4 text-5xl w-80 mr-2 px-2"  [(ngModel)]="first_value" (input)="changingSecondValue()">
    </div>
    <div>
        <span class="text-5xl">&lrarr;</span>
    </div>
    <div>
        <input type="text" class="rounded-md border-black border-4 text-5xl w-80 mr-2 px-2"  [(ngModel)]="second_value" (input)="changingFirstValue()">
        <select name="rate_to_uah" class="text-5xl border-2 border-black mr-5" [(ngModel)]="second_currency" (change)="changingSecondValue()">
            <option *ngFor="let currency of currencies_to" value="{{currency}}">{{currency}}</option>
        </select>
    </div>
</div>
</main>